body {
    font-family: Arial, sans-serif;
    background-color: #d1661ff5;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.error-message {
    text-align: center; /* Center align the text */
    color: red; /* Optional: color for visibility */
    margin: 20px 0; /* Optional: space above and below */
}

h1, h2  {
    text-align: right; /* Change to left or right as needed */
    color: #333; /* Optional: Change color */
    margin: 20px 0; /* Optional: Add some space above and below */
}

form {
    background: url('Beezzz.jpg.webp');
    background: #f7a859;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 10px;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #555;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    
}

button {
    width: 100%;
    padding: 10px;
    background-color: #e07d2c;
    color: rgb(105, 99, 99);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #f8f8f8; /* to make login/register */
}

p {
    margin: 10px 0;

}

p a:hover {
    text-decoration: underline;
}

.error {
    color: red;
}

.success {
    color: green;
}
